<div class="main-w3pvt mian-content-wthree text-center" id="home">
    <div class="container">
        <div class="style-banner mx-auto">
            @*<h3 class="text-wh font-weight-bold">Who would you like <span>to help</span> today</h3>*@
            <h3 class="text-wh font-weight-bold">Who would you like to help today</h3>
            @*<p class="mt-2 text-li" id="find">Property for sale &amp; for rent around the world</p>*@
            <!-- form -->
            <div class="home-form-w3ls mt-5 pt-lg-4">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select required="" class="form-control">
                                    <option value="">Which cause do you like</option>
                                    <option value="1">Zakat</option>
                                    <option value="2">Charity</option>
                                </select>
                            </div>
                            @*<div class="form-group">
                                <select required="" class="form-control">
                                    <option value="">Any geographic preference ?</option>
                                    <option value="1">Karachi</option>
                                    <option value="2">Islamabad</option>
                                    <option value="3">Quetta</option>
                                    <option value="4">Lahore</option>
                                </select>
                            </div>*@
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select required="" class="form-control">
                                    <option value="">Any geographic preference ?</option>
                                    <option value="1">Karachi</option>
                                    <option value="2">Islamabad</option>
                                    <option value="3">Quetta</option>
                                    <option value="4">Lahore</option>
                                </select>
                            </div>
                            @*<div class="form-group">
                                <select required="" class="form-control">
                                    <option value="">Bedrooms</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>*@
                            @*<div class="form-group">
                                <select required="" class="form-control">
                                    <option value="">Location</option>
                                    <option value="1">United States</option>
                                    <option value="2">Canada</option>
                                    <option value="3">New York</option>
                                    <option value="4">Chicago</option>
                                </select>
                            </div>*@
                        </div>
                    </div>
                    <button type="submit" class="btn btn_apt">Find Here</button>
                </form>
            </div>
            <!-- //form -->
        </div>
    </div>
</div>