
@{
    ViewData["Title"] = "RegisterNGO";
}

<div class="container">
    <div class="row">
        
    </div>
    <div class="mx-auto">
        <div class="home-form-w3ls mt-5 pt-lg-4">
            <div class=" vc_custom_1587380011005">

                <div id="text-block-2" class="mk-text-block   ">

                    <h3 class="shortcode-heading mk-fancy-title  pattern-style align-left "><span>Funding Criteria and Guidelines for Grant seekers</span></h3>

                    <p><strong>ELIGIBILITY AND CRITERIA:</strong></p>
                    <p>Applicants must meet the following criteria:</p>
                    <ul>
                        <li>Their purpose is based on the wellbeing of the community or a specific category of individuals, and their activity is in the areas of focus as mentioned later.</li>
                        <li>The Submitted project should correspond to the Trust’s purpose, intent and priorities for action.</li>
                        <li>&nbsp;The organization must show/demonstrate their effective financial governance</li>
                        <li>In the case of a charity or non-profit organization, must be recognized as a charter to that effect</li>
                        <li>Submit a copy of their latest audited annual report with the application, submit a list of the Organization’s Board of Directors/Trustees with their details including CNIC or/Passport details as appropriate.</li>
                        <li>Show self-financing efforts made and a medium-term existence capacity.</li>
                    </ul>

                    <div class="clearboth"></div>
                </div>

            </div>
            <form action="SubmitNGO" method="post">
                    <p>
                        <label>
                            Name of organization:<br>
                            <input type="text" name="data.Name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name of organization">
                        </label><br>
                        <label>
                            Postal Address:<br>
                            <textarea name="data.OfficeAddress" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
                        </label><br>
                    </p>
                    <p>
                        <label>
                            Telephone:<br>
                            <input type="tel" name="data.Phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false">
                        </label><br>
                        <label>
                            Fax:<br>
                                <input type="tel" name="data.Fax" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false">
                        </label><br>
                        <label>
                            Mobile:<br>
                                   <input type="tel" name="data.Mobile" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false">
                        </label><br>
                        <label>
                            Website:<br>
                            <input type="text" name="data.Website" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        </label><br>
                        <label>
                            Email:<br>
                            <input type="email" name="data.Email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
                        </label><br>
                        <label>
                            Year Established:<br>
                      <input type="date" name="data.YearFound" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-required wpcf7-validates-as-date" aria-required="true" aria-invalid="false">
                        </label><br>
                        <label>
                            Operating Budget:<br>
                            <input type="text" name="data.Budget" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        </label><br>
                        <br><br>
                        <b>Details of Contact Person:</b><br>`
                        <span class="wpcf7-form-control-wrap text-319"><input type="text" name="data.ContactPersonName" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name"></span><br>
                        <span class="wpcf7-form-control-wrap text-319"><input type="text" name="data.ContactPersonTitle" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Position Title"></span><br>
                        <span class="wpcf7-form-control-wrap tel-807"><input type="tel" name="data.ContactPersonTelephoneNumber" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Telephone Number"></span><br>
                        <span class="wpcf7-form-control-wrap tel-807"><input type="tel" name="data.ContactPersonCellNumber" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Mobile Number"></span><br>
                        <span class="wpcf7-form-control-wrap email-644"><input type="email" name="data.ContactPersonEmail" value="Email Address" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                    </p>
                    <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
                    <div class="wpcf7-response-output wpcf7-display-none"></div><input type="hidden" name="vx_width" value="1536"><input type="hidden" name="vx_height" value="864"><input type="hidden" name="vx_url" value="https://ngogo.co/contact/">
                
            </form>
        </div>
        <!-- //form -->
    </div>
</div>