
@{
    Layout = "~/Areas/Corporate/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-md-12">


        <form method="get" action="/" class="form-horizontal">
            <div id="questionArea">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Create Grant Form </h4>
                    </div>
                    <div class="card-body ">


                        <div class="row">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="formName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card questionTemp">

                    <div class="card-header ">
                        <h4 class="card-title">Question </h4>
                    </div>

                    <div class="card-body ">


                        <div class="row">
                            <label class="col-sm-2 col-form-label">Type of Question</label>
                            <div class="col-sm-10 checkbox-radios">

                                <div class="form-check form-check-radio col-xs-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="QTYPE" value="MCQ" checked="">
                                        <span class="form-check-sign"></span>
                                        MCQ
                                    </label>
                                </div>
                                <div class="form-check form-check-radio col-xs-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="QTYPE" value="SINGLE">
                                        <span class="form-check-sign"></span>
                                        Single Choice
                                    </label>
                                </div>
                                <div class="form-check form-check-radio col-xs-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="QTYPE" value="OPEN" >
                                        <span class="form-check-sign"></span>
                                        Open End Question
                                    </label>
                                </div>

                            </div>
                        </div>


                        <div class="row inQuestionArea">
                            <label class="col-sm-2 col-form-label">Question</label>

                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your question text">
                                </div>
                            </div>

                            <div class="col-sm-10 option">
                                <label class="col-sm-2 col-form-label">Option </label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Possible answer">
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <button class="btn btn-outline-primary right-side" onclick="addOption(this);">
                                        Add Option
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <script>
                function addOption(elem) {
                    var toCopy = `<div class="col-sm-10 option">
                                            <label class="col-sm-2 col-form-label">Option </label>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Possible answer">
                                                </div>
                                            </div>
                                            <div class="col-sm-4 ">
                                                <button class="btn btn-outline-primary right-side" onclick="addOption(this);">
                                                    Add Option
                                                </button>
                                            </div>
                                        </div>`;
                    var inElem = $(elem).parent().parent().parent();
                    $(inElem).append(toCopy);
                    $(elem).remove();
                };

                function AddQuestion() {
                    event.preventDefault();
                    var toCopy = `<div class="card questionTemp">

                    <div class="card-header ">
                        <h4 class="card-title">Question </h4>
                    </div>

                    <div class="card-body ">


                        <div class="row">
                            <label class="col-sm-2 col-form-label">Type of Question</label>
                            <div class="col-sm-10 checkbox-radios">

                                <div class="form-check form-check-radio col-xs-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="QTYPE" value="MCQ" checked="">
                                        <span class="form-check-sign"></span>
                                        MCQ
                                    </label>
                                </div>
                                <div class="form-check form-check-radio col-xs-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="QTYPE" value="SINGLE">
                                        <span class="form-check-sign"></span>
                                        Single Choice
                                    </label>
                                </div>
                                <div class="form-check form-check-radio col-xs-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="QTYPE" value="OPEN" >
                                        <span class="form-check-sign"></span>
                                        Open End Question
                                    </label>
                                </div>

                            </div>
                        </div>


                        <div class="row inQuestionArea">
                            <label class="col-sm-2 col-form-label">Question</label>

                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your question text">
                                </div>
                            </div>

                            <div class="col-sm-10 option">
                                <label class="col-sm-2 col-form-label">Option </label>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Possible answer">
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <button class="btn btn-outline-primary right-side" onclick="addOption(this);">
                                        Add Option
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>`;
                    $("#questionArea").append(toCopy);
                };
            </script>

            <button class="btn btn-outline-primary right-side" onclick="AddQuestion();">
                Add Question
            </button>
        </form>
    </div>


</div>

@section Scripts{
    <script>

        $(document).on('change','input[type = radio]', function (elem) {
            if (elem.target.value == "MCQ" || elem.target.value == "SINGLE") {
                $(elem.target).parent().parent().parent().parent().parent().find(".option").show();
            } else {
                $(elem.target).parent().parent().parent().parent().parent().find(".option").hide();
            }
        });
    </script>
}
